<div class="kommo-loader">
  <div class="kommo-loader__body kommo-loader__box">
    <img src="{{ icons.path }}/kommo_logo.svg" style="width: 200px">
  </div>
  <hr class="kommo-fancy-line"/>
  <div class="kommo-loader__footer">{{ widget }}</div>
</div>
